

input[type=text] {
  width: 15%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.registerbtn {
  background-color: #3f2d6e;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  margin-left: 500px;
  cursor: pointer;
  width: 15%;
  align-self: center;
  display: block;


}

.tablediv{
    
    text-align: center;
}